

/* versão do curso

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
}
    .card {
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #021d52;
    border-radius: 0.5em;
    position: relative;
    transition: all 1s ease;
    transform-style:preserve-3d;

} */
body{
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
}
.topo{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 90vw;
    background-color:#094c8b63  ;
    padding: 0.5em;
    border-radius: 0.2rem;
    margin: 2px auto;
    color: #fff;
    font-size: 2rem;
}
footer{
    color: #fff;
    font-size: 1.5rem;
    width: 90vw;
    padding: 1rem;
    margin: 3px auto 0;
    max-width: 1200px;
    border-radius: 0.3em;
    text-align: center;
    background-color: #094c8b63;
}

.grid {
    width: 90vw;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
}

.card {
    width: 20%;
    margin: 0.5em;
    aspect-ratio: 3/4;
    transition: all 1s ease;
    transform-style:preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    border-radius: 0.2em;
    transition: all 1s ease;

}
.back{
    background-image: url(../imagens/escudo-img.png);
    backface-visibility: hidden;
}


.revelar-card{
    transform: rotateY(180deg);
}

.disabled-card{
    opacity: 10;
    filter:saturate(0);
}
